<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>首页/代理商</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<link rel="stylesheet" href="../css/weui.css">
		<link rel="stylesheet" href="../css/jquery-weui.css">
		<link rel="stylesheet" href="../font/iconfont.css">
		<link rel="stylesheet" href="../css/base.css">
		<link rel="stylesheet" href="../css/style.css">
		<style>
			.trritoryR a:active {
				color: #32ad38 !important;
			}
		</style>
	</head>

	<body>
		<div class="weui-tab">
			<div class="weui-tab__bd">
				<div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
					<div class="page">
						<div class="sales-tab">
							<div class="salesTab">
								<div class="sales-navbar__item sales-bar__item--on salesTab1" href="#item1">进货</div>
								<div class="sales-navbar__item salesTab2" href="#item2">出货</div>
							</div>
							<div class="sales-tab__bd">
								<div id="item1" class="sales-tab__bd-item sales-tab__bd-item--active">
									<div class="page">
										<!--出货订单 -->
										<div class="yaodianItemBox yaodianItemBox2">
											<script type="text/template" id="yaodianItemBox2">
												{{each list as value key}}
												<div class="scoreItem">
													<div class="scoreTit bs">
														<i class="icon iconfont icon-shijian-tianchong"></i>
														<span>{{value.otime}}（进货）</span>
													</div>
													<div class="conBox yaodianCon">
														<ul>
															{{each value.content as res}}
															<li class="{{if res.ststus == 2}}scoreli3_red{{/if}}" data-idx="{{res.order_id}}">
																<div>
																	<span class="scoreli1">{{res.day}}日</span>
																	<span class="yaodianli2">订单号：{{res.order_id}}</span>
																</div>
																<div>
																	<span>{{res.ostatus}}</span>
																	<i class="icon iconfont icon-xiangyou"></i>
																</div>
															</li>
															{{/each}}
														</ul>
													</div>
												</div>
												{{/each}}
											</script>
										</div>
										<!-- end出货订单 -->
									</div>
								</div>
								<div id="item2" class="sales-tab__bd-item">
									<div class="page">
										<!--进货订单 -->
										<div class="yaodianItemBox yaodianItemBox1">
											<script type="text/template" id="yaodianItemBox1">
												{{each list as value key}}
												<div class="scoreItem">
													<div class="scoreTit bs">
														<i class="icon iconfont icon-shijian-tianchong"></i>
														<span>{{value.otime}}（进货）</span>
													</div>
													<div class="conBox yaodianCon">
														<ul>
															{{each value.content as res}}
															<li class="{{if res.ststus == 2}}scoreli3_red{{/if}}" data-idx="{{res.order_id}}">
																<div>
																	<span class="scoreli1">{{res.day}}日</span>
																	<span class="yaodianli2">订单号：{{res.order_id}}</span>
																</div>
																<div>
																	<span>{{res.ostatus}}</span>
																	<i class="icon iconfont icon-xiangyou"></i>
																</div>
															</li>
															{{/each}}
														</ul>
													</div>
												</div>
												{{/each}}
											</script>
										</div>
										<!-- end进货订单-->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--广告框-->
					<div class="weui-mask weui-mask-ad"></div>
					<div class="weui-custom-pop weui-custom-ad">
						<div class="weui-custom-hd weui-custom-hd-ad">
							<div class="activeImg bg bs"></div>
							<div class="activeIcon"><i class="icon iconfont icon-shanchuguanbicha"></i></div>
						</div>
					</div>
					<!--end广告框-->
				</div>
				<div id="tab2" class="weui-tab__bd-item">
					<div class="page trritorypage">
						<!--<div class="o-search-bar">
							<form class="o-search-form bs" id="search" action="">
								<div class="o-search-bar__box weui-search-bar__box df">
									<i class="icon iconfont icon-dizhi"></i>
									<input type="search" class="o-search__input weui-search-bar__input" id="searchInput" placeholder="请输入代理商名字" required="">
									<div class="o-search-Btn"><button class="weui-btn weui-btn_mini weui-btn_primary fr">切换</button></div>
								</div>
							</form>
							<div class="weui-cells weui-cells_radio bs" style="display: none">
								<label class="weui-cell weui-check__label" for="x11">
				    <div class="weui-cell__bd">
				      <p>张三</p>
				    </div>
				    <div class="weui-cell__ft">
				      <input type="radio" class="weui-check" name="radio1" value="1店" id="x11">
				      <span class="weui-icon-checked"></span>
				    </div>
				  </label>
								<label class="weui-cell weui-check__label" for="x12">
				    <div class="weui-cell__bd">
				      <p>李四</p>
				    </div>
				    <div class="weui-cell__ft">
				      <input type="radio" name="radio1" value="2店" class="weui-check" id="x12">
				      <span class="weui-icon-checked"></span>
				    </div>
				  </label>
							</div>
						</div>-->

						<div class="conBox trritoryConBox juniorAgent">
							<script type="text/template" id="juniorAgent">
								{{each list as value}}
								<div class="trritoryBox df bs">
									<div class="trritoryL bg" style="background-image: url({{value.avator}});"></div>
									<div class="trritoryM">
										<div class="trritoryM01">{{value.uname}}</div>
										<div class="trritoryM02"><span>负责区域：</span><span>{{value.address}}</span></div>
									</div>
									<div class="trritoryR df bs">
										<a href="tel:{{value.phone}}">
											<div class="trritoryR_ab">
												<i class="icon iconfont icon-dianhua"></i>
												<div>联系TA</div>
											</div>
										</a>
									</div>
								</div>
								{{/each}}
							</script>
						</div>
					</div>
					<!-- 遮罩层 -->
					<!--					<div class="modal-mask" style="display: none;"></div>-->
					<!--end遮罩层  -->
				</div>
				<div id="tab3" class="weui-tab__bd-item">
					<div class="page">
						<div class="userTop bs">
							<div class="userTopImg bs">
								<img src="../img/bg.png" alt="" title="" />
							</div>
							<div class="userTopCon bs">
								<div class="userphoto_dengji">
									<div class="userTopPhoto indextouxiang bg"></div>
									<span class="userTopdengji indexdengji"></span>
									<div class="userTopPhone indexdianhua"></div>
								</div>
							</div>
						</div>
						<div class="mycenter">
							<div class="mycenterBox bs">
								<a href="news.html">
									<div class="mycenterItem df bs">
										<div class="mycenterItemL df">
											<div class="mycenterItemImg">
												<img src="../img/png06.png" alt="" title="" />
											</div>
											<span>消息中心</span>
										</div>
										<div class="mycenterItemR">
											<span class="hint-val notreadnews"></span>
											<i class="icon iconfont icon-xiangyou"></i>
										</div>
									</div>
								</a>
								<a href="salesagent.html">
									<div class="mycenterItem df bs">
										<div class="mycenterItemL df">
											<div class="mycenterItemImg">
												<img src="../img/png07.png" alt="" title="" />
											</div>
											<span>在售药品</span>
										</div>
										<div class="mycenterItemR">
											<i class="icon iconfont icon-xiangyou"></i>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--底部导航-->
			<div class="weui-tabbar tabbarBox">
				<a href="#tab1" class="weui-tabbar__item weui-bar__item_on" data-index="0">
					<span style="display: inline-block;position: relative;">
					<i class="icon iconfont icon-dingdan weui-tabbar__icon"></i>
				</span>
					<p class="weui-tabbar__label">订单</p>
				</a>
				<a href="#tab2" class="weui-tabbar__item" data-index="1">
					<i class="icon iconfont icon-muiiconrtime weui-tabbar__icon"></i>
					<p class="weui-tabbar__label">下级销售</p>
				</a>
				<a href="#tab3" class="weui-tabbar__item" data-index="2">
					<span style="display: inline-block;position: relative;">
					<i class="icon iconfont icon-wode weui-tabbar__icon"></i>
				</span>
					<p class="weui-tabbar__label">我的</p>
				</a>
			</div>
		</div>
		<!--end底部导航-->
		<script src="../js/jquery.min.js"></script>
		<script src="../js/jquery-weui.min.js"></script>
		<script src="../js/redirct.js"></script>
		<script src="../js/template.js"></script>
		<script src="../js/weixin.js"></script>
		<script src="../js/rem.js"></script>
		<script src="../js/swiper.min.js"></script>
		<script src="../js/vconsole.min.js"></script>
	</body>
	<script>
				var vConsole = new VConsole();
		var aaa = sessionStorage.getItem('aaa');
		var h = document.documentElement.clientHeight || document.body.clientHeight;
		$(function() {
			orderData(2);
			if(!aaa) {
				propAd(); //弹框广告
			}
			$('.weui-tabbar__item').on('click', function() {
				$(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
				var index = $(this).data('index');
				if(index == 0) {
					$(document).attr("title", "订单");
				} else if(index == 1) {
					$(document).attr("title", "下级销售");
					juniorAgent();
				} else if(index == 2) {
					$(document).attr("title", "我的");
					indexMy();
				}
			});
			$('.yaopinHandle').on('click', function() {
				var ii = $(this).attr('res');
				if(!ii) {
					$(this).attr('res', '1');
					$(this).next().show('slow');
					$(this).children().html('向上收起<i class="icon iconfont icon-xiangshang"></i>');
				} else {
					$(this).attr('res', '');
					$(this).next().hide('normal');
					$(this).children().html('查看详情<i class="icon iconfont icon-xiangxia"></i>');
				}

			})
			//代理区域
			$('.o-search-Btn').on('click', function() {
				$('.modal-mask').css('display', 'block');
				$('.weui-cells_radio').css('display', 'block');
			})
			$('.weui-cells_radio').on('change', function() {
				var doctorStore = $("input[name='radio1']:checked").val();
				$('.o-search__input').val(doctorStore)
			})
			$('.modal-mask').on('click', function() {
				$('.modal-mask').css('display', 'none');
				$('.weui-cells_radio').css('display', 'none');
			})
			//end代理区域
			//进货出货  tab判断
			$('.sales-navbar__item').on('click', function() {
				$(this).addClass('sales-bar__item--on').siblings().removeClass('sales-bar__item--on');
				var a = $(this).attr('href');
				if(a == '#item2') {
					orderData(1);
				}
				$('.sales-tab__bd-item').each(function() {
					var aa = '#' + $(this).attr('id');
					if(a == aa) {
						$(this).addClass('sales-tab__bd-item--active');
					} else {
						$(this).removeClass('sales-tab__bd-item--active');
					}
				})
			})
			//订单详情
			$('.yaodianItemBox').on('click', '.yaodianCon li', function() {
				var idx = $(this).data('idx');
				window.location.href = 'pharorderdetail.html?orderid=' + idx;
			})
			//end订单详情
			$('.yaopinListBox').on('click', function() {
				window.location.href = 'pharagentdetail.html'
			})
			//订单
			function orderData(type) {
				var da = {
					"tag": "member",
					"op": "orderlist",
					"condition": {
						"type": type
					}
				}
				$.ajax({
					type: 'POST',
					url: AJAXURL + '/index/member/index',
					contentType: "application/x-www-form-urlencoded",
					data: da,
					dataType: 'json',
					success: function(success) {
						console.log('订单数据' + JSON.stringify(success))
						if(success.err > 0) {
							for(var i = 0; i < success.data.list.length; i++) {
								var otime = success.data.list[i].time;
								otime = otime.split('-');
								otime = otime[0] + '年' + otime[1] + '月';
								success.data.list[i].otime = otime;
								for(var j = 0; j < success.data.list[i].content.length; j++) {
									var ostatus = success.data.list[i].content[j].status;
									if(ostatus == 0) {
										ostatus = '已删除'
									} else if(ostatus == 1) {
										ostatus = '待发货'
									} else if(ostatus == 2) {
										ostatus = '待付款'
									} else if(ostatus == 3) {
										ostatus = '已付款'
									} else if(ostatus == 4) {
										ostatus = '已驳回'
									} else if(ostatus == 5) {
										ostatus = '挂单'
									} else if(ostatus == 6) {
										ostatus = '已发货'
									} else {
										ostatus = '已收货'
									}
									success.data.list[i].content[j].ostatus = ostatus;
								}
							}
							$(".yaodianItemBox" + type).html(template("yaodianItemBox" + type, success.data));
						} else if(success.err == '-100') {
							window.location.href = 'login.html';
						} else {
							$(".yaodianItemBox" + type).html("<div class='noData'><img src='../img/noCon.png' alt='' title='' /></div>");
						}
					}
				});
			}
			//end订单状态
			//下级代理
			function juniorAgent() {
				var da = {
					"tag": "member",
					"op": "agent"
				}
				$.ajax({
					type: 'POST',
					url: AJAXURL + '/index/member/agent',
					contentType: "application/x-www-form-urlencoded",
					data: da,
					dataType: 'json',
					success: function(success) {
						console.log('下级代理数据' + JSON.stringify(success))
						if(success.err > 0) {
							success.data.href = IMGURL;
							$(".juniorAgent").html(template("juniorAgent", success.data));
						} else if(success.err == '-100') {
							window.location.href = 'login.html';
						} else {
							$(".trritorypage").html("<div class='noData'><img src='../img/noCon.png' alt='' title='' /></div>");
						}
					}
				});
			}
			//end下级代理
			//个人中心
			function indexMy() {
				var da = {
					"tag": "member",
					"op": "getone"
				}
				$.ajax({
					type: 'POST',
					url: AJAXURL + '/index/member/index',
					contentType: "application/x-www-form-urlencoded",
					data: da,
					dataType: 'json',
					success: function(success) {
						console.log('个人中心数据' + JSON.stringify(success))
						if(success.err > 0) {
							$('.indextouxiang').css('background-image', 'url(' + success.data.avator + ')');
							$('.indexdengji').text("等级" + success.data.level);
							$('.indexdianhua').text(success.data.shop_name);
							$('.storehref').attr('data-idx', success.data.id);
							if(success.data.notreadmsg != 0) {
								$('.notreadnews').text(success.data.notreadmsg);
								$('.notreadnews').show();
							}
						} else if(success.err == '-100') {
							window.location.href = 'login.html';
						} else {
							$.toast(success.message, "cancel");
						}
					}
				});
			}
			//end个人中心
			//广告弹框
			function propAd() {
				$.ajax({
					type: 'POST',
					url: AJAXURL + '/index/index/advertisement',
					contentType: "application/x-www-form-urlencoded",
					dataType: 'json',
					success: function(success) {
						console.log('弹框广告数据' + JSON.stringify(success))
						if(success.err > 0) {
							$('.weui-mask-ad').addClass('weui-mask--visible');
							$('.weui-custom-ad').addClass('weui-dialog--visible');
							$('.activeImg').css({
								"background-image": 'url(' + success.data.img + ')',
								'height': h / 2 + 'px'
							}).attr('data-url', success.data.url);
							//存入缓存
							if(window.localStorage) {
								sessionStorage.setItem('aaa', '1');
							}
						} else if(success.err == '-100') {
							window.location.href = 'login.html?openid=' + success.data.openid;
						} else {
							$('.weui-mask-ad').removeClass('weui-mask--visible');
							$('.weui-custom-ad').removeClass('weui-dialog--visible');
						}
					}
				});
			}
			//end广告弹框
			//广告框
			$('.activeIcon').on('click', function() {
				$('.weui-mask-ad').removeClass('weui-mask--visible');
				$('.weui-custom-ad').removeClass('weui-dialog--visible');
			})
			//end广告框
		});
	</script>

</html>